@layer base, starlight, theme, components, utilities;
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css');
@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  /* Generated accent color palettes. */
  --color-accent-200: #dfc684;
  --color-accent-600: #0870a1;
  --color-accent-900: #3f3000;
  --color-accent-950: #2e2200;
  /* Generated gray color palettes. */
  --color-gray-100: #f0f8fc;
  --color-gray-200: #e2f0f9;
  --color-gray-300: #b3c5cf;
  --color-gray-400: #6f91a4;
  --color-gray-500: #3c5d6f;
  --color-gray-700: #1c3c4d;
  --color-gray-800: #092a3a;
  --color-gray-900: #0c1a21;
}
